//@extends
%font-base{
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
}
$white-main:#ffffff;
$black-main:#000000;
$font-size-base: 16px;
$main-transition: all 2.5s ease-out;
$grey-light:#c2c2c2;
$shadow-text: 1px 1px 2px #111111;