
//@mixins--@queries
$tablet-width: 600px;
@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

$desktop-width: 1200px;
@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}
//@extends
%font-base{
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
}

body{
    background-color: #000000;    
    color: #ffffff;
    @extend %font-base;
    font-size: 14px;
}
nav{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    min-height: 470px;
    &.open{
        min-height: auto;
        margin: 3rem 0;
        img{
            width: 8rem;
        }
    }
    @include tablet{
        align-items: center;
        flex-direction: row;
        flex-flow: nowrap;
        &.open{
            align-items: flex-start;
            margin-top: 30px 0;
            div{
                margin-left: 300px;
            }
            picture{
                margin-right: -200px;
                img{
                    max-width: 10px;
                }
            }
        }
    }
    @include desktop{
        justify-content: end;
        min-height: 78vh;
        &.open{
            min-height: auto;
        }
    }
    picture{
        width:100%;
        @include tablet{
            width: auto;
        }
        @include desktop{
            margin-right: 0 50px;
        }
            
        img{
            display: block;
            margin: 0 auto;
            @include tablet{
                display: initial;
                margin: 0;
            }
            @include desktop{
                width: 100px;
            }
        }
    }

    label{
        display: block;
        margin: 20px 0;
        @extend %font-base;
        text-align: center;
    }
    select{
        background-color: #ffffff;
        margin: 0 auto;
        display: block;
        width: 100%;

        &:focus {
            outline: none;
        }
    }
}

main{
    display: flex;
    flex-wrap: wrap;

    section{
        width: 100%;
        position: relative;
        @include tablet{
            width: 32.9%;
            display: inline-block;
        }
        @include desktop{
            width: 25%;
        }

        a{
            text-decoration: none;
            color: #ffffff;
        }
        h3{
            position: absolute;
            bottom: 0;
            padding: 5px;
            font-size: 12px;
            line-height: 1.2rem;
            background-color: rgba(0, 0, 0, 0.7);
            text-shadow: 1px 1px 2px #111111;
        }
        img{
            width: 100%;
        }
    }
}

footer{
    text-align: center;
    padding: 40px 30px 50px 30px;
    color: #c2c2c2;
    @include desktop{
        text-align: left;
        margin-left: 30px;
    }
}