@import 'reset';
@import 'fonts';


//@mixins--@queries
$tablet-width: 600px;
@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

$desktop-width: 1200px;
@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}
//@extends
%font-base{
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
}
$main-transition: all 2s ease;

//@keyframes
@keyframes fadein-text{
    0%{
        transform: translateY(-10);
    }
    100%{
        transform:translateY(10);
    }
}
@keyframes logo-open{
    0%{
        margin: 0 auto;
    }
    100%{
        margin: 3rem 0;
    }
}

body{
    background-color: #000000;    
    color: #ffffff;
    @extend %font-base;
    font-size: 14px;
}
nav{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    height: 80vh;
    transition: $main-transition;
    &.open{
        height: 50vh;
        img{
            height: 24vh;
        }
    }
    @include tablet{
        align-items: center;
        &.open{
            height: 35vh;
            label{
                margin: 0 0 20px 0;
            }
            picture{
                width: 28%;
                img{
                    height: 20vh;
                }
            }
        }
    }
    @include desktop{
        justify-content: end;
        min-height: 78vh;
        padding-left: 3%;
        &.open{
            min-height: auto;
            picture{
                width: 16vw;
            }
        }
    }
    picture{
        width: 100%;
        transition: $main-transition;
        @include tablet{
            width: auto;
        }
            
        img{
            display: block;
            margin: 0 auto;
            transition: $main-transition;
            @include tablet{
                display: initial;
                margin: 0;
            }
            @include desktop{
                
            }
        }
    }
    label{
        display: block;
        margin: 20px 0;
        @extend %font-base;
        text-align: center;
    }
    select{
        background-color: #ffffff;
        margin: 0 auto;
        display: block;
        width: 100%;

        &:focus {
            outline: none;
        }
    }
}

.loader{
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
}

main{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    section{
        width: 100%;
        height:350px;
        min-height: 200px;
        overflow: hidden;
        position: relative;
        
        @include tablet{
            width: 33.33%;
        }
        @include desktop{
            width: 25%;
        }

        a{
            text-decoration: none;
            color: #ffffff;
            .section-img {
                background-size: cover;
                width: 100%;
                height: 100%;
            }
        }
        h3{
            position: absolute;
            bottom: 0;
            padding: 3%;
            width: 94%;
            font-size: 12px;
            line-height: 1.2rem;
            background-color: rgba(0, 0, 0, 0.7);
            text-shadow: 1px 1px 2px #111111;
            opacity: 1;
            transition: 1s;
            @include desktop{
                bottom: -100px;
                opacity: 0;
            }
        }
        &:hover h3{
            opacity: 1;
            bottom: 0;
        }
    }
}

footer{
    text-align: center;
    padding: 40px 30px 50px 30px;
    color: #c2c2c2;
    @include desktop{
        text-align: left;
        margin-left: 30px;
    }
}